<include href="views/header.html" />
<include href="views/site-nav.html"></include>
<div class = "container">
    <form action="#" id="collection-form" method="post">
        <h1 align="center">Create a new Collection</h1>
        <div class="form-group form-inline positioner input-effect">
            <label for = "title">Title: </label>
            <span class="err" id="collectionTitleErr"></span>
            <check if="{{ @errors['invalidCollectionName'] }}">
                <span class="err">{{ @errors['invalidCollectionName'] }}</span>
            </check>
            <input id = "title" class="effect-1" type="text"
                   <check if="{{ @name !== '' }}">
                        <true>
                            value="{{ @name }}"
                        </true>
                      <false>
                          placeholder="Max 50 characters."
                      </false>
                  </check> name="title">
            <span class="focus-border"></span>
        </div>
        <div class="form-group positioner input-effect">
            <label class="text-left" for="description">Description:
            <span class="err" id="collectionDescriptionErr"></span>
            <check if="{{ @errors['invalidCollectionDescription'] }}">
                <span class="err"> {{ @errors['invalidCollectionDescription'] }}</span>
            </check>
            <textarea class="form-control" id = "description" name="description"
                      rows="5" cols="100"
                      placeholder="Max 200 characters."></textarea>
            </label>
        </div>
        <check if="{{ @SESSION['user']->getPremium() === '1' }}">
            <div class="form-check" id="attribute-check">
                <input type="checkbox" class="form-check-input"
                       id="add-attributes" name="add-attributes">
                <label class="form-check-label"
                       for="add-attributes">
                    Premium Collection
                </label>
            </div>
        </check>
        <hr>
        <div class="form-group">
            <input type="submit" class="btn btn-primary"
                   name="create" value="Create Collection">
        </div>
    </form>
    <check if="{{ @errors['addCollection'] }}">
        <div><span class="err"> {{ @errors['addCollection'] }}</span></div>
    </check>
</div>
<include href="views/footer.html" />