<include href="views/header.html" />
<include href="views/site-nav.html"></include>
<div class = "container">
    <form action="#" id="collection-form" method="post">
        <h1 align="center">Create a new Collection</h1>

        <div class="form-group form-inline positioner input-effect">
            <label for = "title">Title: </label>
            <input id = "title" class="effect-1" type="text"
                   placeholder="Title" name="title">
            <span class="focus-border"></span>
        </div>

            <div class="form-group form-inline">
                <label for="description">Description: &nbsp;</label>
                <textarea id = "description" name="description"
                          rows="5" cols="55"></textarea>
            </div>
        <div class="form-group">
            <button>Add Attributes</button> &nbsp;
        <button>Create Collection</button>
        </div>
    </form>
</div>
<include href="views/footer.html" />