<include href="views/header.html" />
<include href="views/site-nav.html"></include>
<style>
    body {
        overflow: hidden;
    }
</style>
<div class = "home" >
<div  class = "top">
    <section id="home-description">
        <h5>Keep a digital catalogue of your collection so you always have it with you</h5>
        <ul style="list-style-type:none;">
            <li>Keep it simple with our free plan or have unlimited customization with our premium plan</li>
            <li>Convenient and easy to use</li>
            <li>User loadable database of coin collection</li>
            <li>User customizable data entry options</li>
        </ul>
    </section>
</div>
<div class = "bottom">
    <div class="quotes">
        <p class="item-1">"This is a great way for me to share my collection online" -Bob</p>

        <p class="item-2">"I am so glad I found iCollect. It is an easy way to organize my baseball card collection." -Derek</p>

        <p class="item-3">"I used to log every item in my rubber ducky collection in a notebook by hand. iCollect allows me to log every item in my collection with whatever attributes and images I want." -Bethany</p>
    </div>
</div>
</div>

<include href="views/footer.html" />