<include href="views/header.html" />
<include href="views/site-nav.html"></include>
<div class = "container">
    <form action="#" id="new-user-form" method="post">
        <h1>Login</h1>
        <div class="positioner input-effect form-inline">
            <label for="loginName">Username :
                <span id="ajax-name-result" class="err"></span>
                <span class="err" id="err-username">*invalid username</span>
            </label>
            <check if="{{ @errors['login'] }}">
                <span class="err">{{ @errors['validLogin'] }}</span>
            </check>
            <input class="effect-1" type="text" placeholder="Username"
                   name="username" id="loginName">
            <span class="focus-border"></span>
        </div>

        <div class="positioner input-effect form-inline">
            <label for="password">Password
                <span class="err" id="err-password">*required</span>
            </label>
            <input class="effect-1" type="password" placeholder="Password"
                   name = "password" id="password">
            <span class="focus-border"></span>
        </div>
        <!--<div>
            <a id = "forgotpw" href="#">Forgot password?</a>
        </div>-->
        <br>
        <button type="submit" id="submit">Login</button>
    </form>
    <check if="{{ @errors['login'] }}">
        <br><span class="err">{{ @errors['login'] }}</span>
    </check>
    <check if="{{ @errors['connection'] }}">
        <br><span class="err">{{ @errors['connection'] }}</span>
    </check>
</div>
<include href="views/footer.html" />