<include href="views/header.html" />
<include href="views/site-nav.html"></include>
<div class = "container">
    <form action="#" id="new-user-form" name="signup" method="post">
        <h1>Sign Up</h1>
        <div class="positioner input-effect form-inline">
            <label for="username" id="label-username">Username
                <span id="ajax-name-unavailable" class="text-danger"></span>
                <span id="ajax-name-available" class="text-success"></span>
                <span class="err" id="err-username">*alpha-numeric only</span>
                <check if="{{ @errors['username'] }}">
                    <span class="err" >{{ @errors['username'] }}</span>
                </check>
            </label>
            <input class="effect-1" type="text" placeholder="Username (alpha-numeric: abc123)"
                   name="username" id="username" value="{{ @username }}">
            <span class="focus-border"></span>
        </div>
        <div class="positioner input-effect form-inline">
            <label for="email">Email
                <span id="ajax-email-unavailable" class="text-danger"></span>
                <span id="ajax-email-available" class="text-success"></span>
                <span class="err" id="err-email">*valid email required</span>
                <check if="{{ @errors['email'] }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check>
            </label>
            <input class="effect-1" type="text" placeholder="Email"
                   name = "email" id="email" value="{{ @email }}">
            <span class="focus-border"></span>
        </div>
        <div class="positioner input-effect form-inline">
            <label for="password">Password
                <span class="err" id="err-password">*required</span>
                <check if="{{ @errors['password'] }}">
                    <span class="err">{{ @errors['password'] }}</span>
                </check>
            </label>
            <input class="effect-1" type="password" placeholder="Password"
                   name = "password" id="password" value="{{ @password }}">
            <span class="focus-border"></span>
        </div>
        <div class="positioner input-effect form-inline">
            <label for="password2">Re-enter Password
                <span class="err" id="err-password2">*not a match</span>
                <check if="{{ @errors['passwordMatch'] }}">
                    <span class="err">{{ @errors['passwordMatch'] }}</span>
                </check>
            </label>
            <input class="effect-1" type="password" placeholder="Re-enter Password"
                   name = "password2" id="password2" value="{{ @password2 }}">
            <span class="focus-border"></span>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <h4>Account Type: &nbsp;</h4>
                <a href="http://www.google.com" target="_blank"  data-toggle="modal" data-target="#exampleModal">
                    <img src = "images/info-icon.png" width="15px">
                </a>
                <span class="err" id="err-acct-type">hmmm...try again</span>
                <check if="{{ @errors['acctType'] }}">
                    <span class="err">{{ @errors['acctType'] }}</span>
                </check>
                <!-- Button trigger modal -->

                <!-- START Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Premium Members</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Premium members have the ability to customize their collections.
                                <td>
                                    <li>Add custom attributes to all collections</li>
                                    <li>Create an unlimited number of collections</li>
                                    <li>Search through collections using keywords</li>
                                </td>
                            </div>
                            <div class="modal-footer">
                            </div>
                        </div>
                    </div>
                </div>
<!--                END OF MODAL CODE -->
            </div>
            <label for="general-account" class="radio-inline">
                <input type="radio" name="accountType" id="general-account"
                       value="0" checked>
                General Account&nbsp;
            </label>
            <label for="premium-account" class="radio-inline">
                <input type="radio" name="accountType" id="premium-account"
                       value="1">
                Premium Account
            </label>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" id="submit" value="Create Account">
    </form>
    <check if="{{ @errors['connection'] }}">
        <span class="err">{{ @errors['connection'] }}</span>
    </check>
    <check if="{{ @errors['addNewUser'] }}">
        <span class="err">{{ @errors['addNewUser'] }}</span>
    </check>
</div>

<include href="views/footer.html" />