<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel ="stylesheet" href="styles/signup.css">
<!--    CHANGE FILE PATH TO STYLES AFTER TESTING  -->
    <title>Sign Up</title>
</head>
<body>
<div class = "container">
    <form action="#" id="new-user-form" method="post">
        <h1>Sign Up</h1>
        <div class="positioner input-effect form-inline">
            <label for="username">Username</label>
            <input class="effect-1" type="text" placeholder="Username"
                   name="username" id="username" value="{{ @username }}">
            <span class="focus-border"></span>
        </div>
        <div class="positioner input-effect form-inline">
            <label for="password">Password</label>
            <input class="effect-1" type="password" placeholder="Password"
                   name = "password" id="password">
            <span class="focus-border"></span>
        </div>
        <div class="positioner input-effect form-inline">
            <label for="email">Email</label>
            <input class="effect-1" type="text" placeholder="Email"
                   name = "email" id="email" value="{{ @email }}">
            <span class="focus-border"></span>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <h4>Account Type: &nbsp;</h4>
                <a href="http://www.google.com" target="_blank">
                    <img src = "images/info-icon.png" width="15px">
                </a>
            </div>
            <label for="general-account" class="radio-inline">
                <input type="radio" name="accountType" id="general-account"
                       value="0" checked>
                General Account&nbsp;
            </label>
            <label for="premium-account" class="radio-inline">
                <input type="radio" name="accountType" id="premium-account"
                       value="1">
                Premium Account
            </label>
        </div>
        <br>
        <button type="submit">Create Account</button>
    </form>
    <check if="{{ @errors['username'] }}">
        <h1>{{ @errors['username'] }}</h1>
    </check>
    <check if="{{ @errors['email'] }}">
        <h1>{{ @errors['email'] }}</h1>
    </check>
    <check if="{{ @errors['connection'] }}">
        <h1>{{ @errors['connection'] }}</h1>
    </check>
    <check if="{{ @errors['addNewUser'] }}">
        <h1>{{ @errors['addNewUser'] }}</h1>
    </check>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>