<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel ="stylesheet" href="../styles/signup.css">
<!--    CHANGE FILE PATH TO STYLES AFTER TESTING  -->
    <title>Sign Up</title>
</head>
<body>
<div class = "container">

    <form id="volunteer-form" method="post">
        <h1>Sign Up</h1>
            <div class="positioner input-effect form-inline">
                <label>Username</label>
                <input class="effect-1" type="text" placeholder="Username" name = "username">
                <span class="focus-border"></span>
            </div>
            <div class="positioner input-effect form-inline">
                <label>Password</label>
                <input class="effect-1" type="text" placeholder="Password" name = "password">
                <span class="focus-border"></span>
            </div>
            <div class="positioner input-effect form-inline">
                <label>Email</label>
                <input class="effect-1" type="text" placeholder="Email" name = "email">

                <span class="focus-border"></span>
            </div>
        <div class="form-group">
            <div class="form-inline">
            <h4>Account Type: &nbsp;</h4>
                <a href="http://www.google.com" target="_blank">
            <img src = "../images/info-icon.png" width="15px">
                </a>
            </div>
            <label class="radio-inline">
                <input type="radio" name="accountType" checked> General Account&nbsp;
            </label>
            <label class="radio-inline">
                <input type="radio" name="accountType"> Premium Account
            </label>
        </div>
        <br>
        <button type="submit">Create Account</button>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>