<body>
<!--Navigation Bar-->
<nav class="navbar navbar-expand fixed-top bg-light border-bottom">
    <a class="navbar-brand text-dark" href="../iCollect">iCollect</a>
    <ul class="navbar-nav ml-auto">
        <check if="{{ @SESSION['user'] }}">
            <true>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="welcome">{{ @SESSION['user']->getUsername() }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="logout">Logout</a>
                </li>
            </true>
            <false>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="signup">Sign up</a>
                </li>
            </false>
        </check>
    </ul>
</nav>
<hr class="mb-5">