<include href="views/header.html" />
<include href="views/site-nav.html"></include>
<div class = "container">
<div class="float-left">
    <h1>Welcome, {{ @SESSION['user']->getUsername() }}!</h1>
<!--    <h3>User ID: {{ @SESSION['user']->getUserID() }}</h3>-->
                    <check if="{{ @SESSION['user']->getProfileImg() !== null }}">
                        <true>
                            <img src="{{@SESSION['user']->getProfileImg()}}"
                                 class="rounded profile-img"
                                 alt="Profile image">
                        </true>
                        <false>
                            <img  id = "default-profile" src = "images/default-profile.png">
                        </false>
                    </check>
    <br><br>
    <a href="createcollection">Create a new collection</a>
</div>
        <h3>Collections</h3>
    <div class="row mb-0">
        <repeat group="{{ @collectionsRepeat }}" value="{{ @collection }}">
                <div class="card h-100" style="width: 14rem;">
                    <img class="card-img-top" height="130" src="images/sample-pic1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ @collection['collectionName'] }}</h5>
                        <p class="card-text">{{ @collection['collectionDescription'] }}</p>
                        <a href="collection/{{ @collection['collectionID'] }}">View Collection</a>
                    </div>
                </div>
        </repeat>
    </div>
    </div>
<include href="views/footer.html" />