<include href="views/header.html" />
<include href="views/site-nav.html"></include>
<div class = "container">

        <div class="float-left">
            <h1>Welcome, {{ @SESSION['user']->getUsername() }}!</h1>
            <h3>Collections</h3>

            <check if="{{ @SESSION['user']->getProfileImg() !== null }}">
                <true>
                    <img src="{{@SESSION['user']->getProfileImg()}}"
                         class="rounded profile-pic"
                         alt="Profile image"
                         width="100%">
                </true>
                <false>
                    <img  src="images/default-profile.png"
                          class="rounded profile-pic"
                          alt="Default Profile image"
                          width="100%">
                </false>
            </check>
            <br><br>
            <check if="{{ @SESSION['user']->getPremium() == 0 && count(@collectionsRepeat) >=5 }}">
                <true>
                    <a class="btn btn-primary disabled"
                       href="#">Create a new collection</a>
                </true>
                <false>
                    <a class="btn btn-primary"
                       href="createcollection">Create a new collection</a>
                </false>
            </check>
        </div>
</div>
</div>
    <div class="row mb-0">
        <repeat group="{{ @collectionsRepeat }}" value="{{ @collection }}">
            <div class="card h-100" style="width: 14rem;">
                <div class="card h-100 m-auto" style="width: 14em;">
                    <check if="{{ @collection['collectionImage'] !== null }}">
                        <true>
                            <img class="card-img-top" height="130"
                                 src="{{ @collection['collectionImage'] }}"
                                 alt="Card image cap">
                        </true>
                        <false>
                            <img class="card-img-top" height="130"
                                 src="images/default-collection.jpg"
                                 alt="Card image cap">
                        </false>
                    </check>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ @collection['collectionName'] }}</h5>
                        <p class="card-text">
                            {{ @collection['collectionDescription'] }}</p>
                        <a href="{{ @collection['collectionID'] }}">
                            View Collection</a>
                    </div>
                </div>
            </div>

        </repeat>
</div>
<include href="views/footer.html" />